  <div class="row place-ctrl">
    <form role="form" class="form-inline">
    
      <div class="form-group">
        <label for="">Search:</label>
        <input ng-model="placesQuery" class="form-control">   
      </div>

      <div class="form-group">
        <label for="">Sort by:</label>
        <select ng-model="orderCriteria" class="form-control">
          <option value="name">By name</option>
          <option value="location">By location</option>
        </select>
      </div>
      
    </form>
  </div>

  <div class="container">
    <ul>
      <li ng-repeat="place in places | filter:placesQuery | orderBy:orderCriteria">
        <h3><a href="#/place/{{ place.id }}">{{ place.name }}</a></h3>
        {{ place.location }}
      </li>
    </ul>
  </div>
