  <div class="container">
    <div class="row">
      Search: <input ng-model="placesQuery">   
      <br>
      Sort by:
      <select ng-model="orderCriteria">
        <option value="name">By name</option>
        <option value="location">By location</option>
      </select>
    </div>

    <ul>
      <li ng-repeat="place in places | filter:placesQuery | orderBy:orderCriteria">
        <h3><a href="#/place/{{ place.id }}">{{ place.name }}</a></h3>
        {{ place.location }}
      </li>
    </ul>
  </div>
